body>*
{
    margin:auto;
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
div 
{
    width:200px;
    height:200px;
    border:10px solid black;
    border-radius: 50%;
    background-color:red;
}
body>section:last-child>div
{
    background-color:blue;
    border-style: dashed;
}
body>section:nth-child(3)>div
{
    background-color:green;
    border-style: double;
}