span 
{
    background-color:rgb(236, 236, 159);
    font-weight: bold;
}

main>section
{
    display:flex;
   
}
main>section>article
{
    width:50%;
    border:1px solid black;
    margin:2em 0.2em 2em 0.2em;
    padding:0.5em;
}